body {
  background-color: darkgrey;
  margin:5em 7em 3em 7em
}
.container-fluid {
  display:flex;
  justify-content: space-between;
}
.top{
  display:flex;
  justify-content: space-between;
}
.question {
  text-align: center;
  margin: 2em 0em 2em 0em;
}
.choices {
  display:grid;
  grid-template-areas: ltop rtop lbot rbot;
}
.turn {
  color: rgba(46, 166, 221, 0.774);
}
.correct{
  color: rgb(1, 77, 46);
  background-color: rgb(40, 163, 40);
  border-color: rgb(1, 77, 46);
}
.incorrect {
  color: rgb(61, 19, 2);
  background-color: rgb(194, 72, 56);
  border-color: rgb(61, 19, 2);
}