body {
  background-color: darkgrey;
  margin:5em 7em 3em 7em
}
.container-fluid {
  display:flex;
  justify-content: space-around;
}
.top{
  display:flex;
  justify-content: space-between;
}
.question {
  text-align: center;
  justify-content: center;
  margin: 2em 0em 2em 0em;
}
.choices {
  display:grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: [outerleft] 1fr [left] 1fr [mid] 1fr [right] 1fr [outerright];
  grid-template-rows: [top] 1fr [center] 1fr [bottom];
}
#a{
  grid-column: left/mid;
  grid-row: top/center;
}
#b{
  grid-column: mid/right;
  grid-row: top/center;
}
#c{
  grid-column: left/mid;
  grid-row: center/bottom;
}
#d{
  grid-column: mid/right;
  grid-row: center/bottom;
}
.output{
  margin-top: 1em;
  text-align: center;
}
.turn {
  color: rgba(46, 166, 221, 0.774);
}
.btn-lg{
  margin:1em;
  width:10em;
  height: 5em;
  white-space: normal;
  word-wrap: break-word
}
li{
  margin-left: 0.5em;
  margin-right: 0.5em;
}
label {
  color:darkgrey;
}
#victory{
  color:rgba(20, 236, 31, 0.774);
}